.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: black;
    padding: 0 40px;
}

.header__logo {
    max-width: 300px;
    min-width: 200px;
}

.header__logo-img {
    width: 100%;
    height: auto;
}

.header-nav__list {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.header-nav__link {
    text-decoration: none;
}

.header-nav__link:hover,
.header-nav__logout:hover {
    color: #cccccc;
    text-decoration: underline;
}

.header-nav__form {
    margin: 0;
}

.header-nav__logout {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.header-nav__link,
.header-nav__logout {
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.message-container {
    margin-bottom: 40px;
}

.alert {
    padding: 10px 50px;
    margin-bottom: 20px;
}

.alert-success {
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.alert-danger {
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

main {
    margin-bottom: 50px;
    padding: 0 50px;
}
